.app {
  padding: 30px;
  background-color: #B1D0E0;
}

.game{
  background-color: #6998AB;
  border-style: groove;
  border-color: gray;
  border-radius: 2%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  height: 560px;
  width: 560px;
}

.game img{
  width: 70px;
  height: 70px;
}

.scoreboard{
  margin: auto;
  width: fit-content;
  text-align: center;
  font-family: Georgia;
}